<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Situs penyedia rekomendasi restoran terbaik di Indonesia.">
  <meta name="keywords" content="Restoin Ajah, HTML, CSS, JavaScript, Webpack, ESLint, Progressive Web Apps, Bootstrap Icons">
  <meta name="author" content="Ahmad Wildan">
  <meta name="theme-color" content="#141414">
  <link rel="icon" href="./images/icons/undraw_breakfast_psiw-removebg-preview.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <title>Resto.In Ajah!</title>
</head>
<body>

  <a tabindex="0" id="skipToContent" href="#main-content">Skip to content</a>
  
  <header-app-bar></header-app-bar>
  
  <main id="main" tabindex="0">

    <hero-banner-image></hero-banner-image>
    
    <page-main-content></page-main-content>
    
  </main>

  <footer-app-bar></footer-app-bar>

</body>
</html>