@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s ease-in-out;
}
html, body { width: 100%; }
body { background-color: #141414; }
#skipToContent {
  position: absolute;
  z-index: 200;
  min-width: 44px;
  min-height: 44px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: gold;
  transform: translate(0, -44px);
  text-decoration: none;
  color: #1b1b1b;
}
#skipToContent:focus {
  transform: translate(0, 0);
}
#header {
  position: fixed;
  width: 100%;
  padding: 30px;
  transition: 0.4s ease-in-out;
  z-index: 100;
}
#header.enable-sticky {
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 20px 20px;
  box-shadow: 0px 0px 10px 0px gold;
}
#header .header-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-brand h1 {
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: x-large;
  transition: 0.2s ease-in-out;
}
#header .header-brand h1 span {
  font-family: 'Kaushan Script', cursive;
  color: gold;
}
#header .header-brand button {
  text-decoration: none;
  font-weight: bolder;
  font-size: x-large;
  color: white;
  background-color: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
}
#header .header-brand button:last-child { color: gold; }
#header nav#navbar {
  display: none;
  padding: 20px 0px;
  transition: all 0.4s ease-in-out;
}
#header nav#navbar ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#header nav#navbar ul li { list-style: none; }
#header nav#navbar ul li a {
  display: flex;
  justify-content: center ;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  min-width: 44px;
  min-height: 44px;
}
#header nav#navbar ul li a:hover {
  color: gold;
}
#main .hero-image {
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
}
#main .hero-image img {
  width: 100%;
  filter: brightness(40%);
}
#main .hero-image .hero-content {
  position: absolute;
  width: 80%;
  color: white;
  text-align: center;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -38%);
}
#main .hero-image .hero-content h2 {
  font-weight: normal;
  margin-bottom: 1%;
  font-size: 18px;
}
#main .hero-image .hero-content p {
  display: none;
}
#main .hero-image img { width: 100%; }
#main #main-content {
  width: 100%;
  padding-top: 5%;
}
#main #main-content h2 {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: large;
}
#main #main-content hr {
  width: 20%;
  margin: 2% auto;
  border: 1px solid white;
}
#main #main-content .restaurant-container {
  display: flex;
  flex-direction: column;
  padding: 0px 4%;
  margin-top: 4%;
}
.restaurant-container .resto-detail {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  margin-bottom: 6%;
  box-shadow: 0px 0px 10px 0px goldenrod;
  color: white;
}
.restaurant-container .resto-detail .header-item label {
  position: absolute;
  margin-top: 2%;
  padding: 6px;
  color: #1b1b1b;
  font-weight: 700;
  background-color: gold;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.restaurant-container .resto-detail .header-item img {
  width: 100%;
}
.restaurant-container .resto-detail .content-item {
  padding: 20px;
}
.restaurant-container .resto-detail .content-item h3 {
  margin-bottom: 1%;
}
.restaurant-container .resto-detail .content-item h4 {
  margin-top: 4%;
  margin-bottom: 2%;
}
.restaurant-container .resto-detail .content-item span {
  color: crimson;
}
.restaurant-container .resto-detail .content-item strong {
  font-weight: normal;
}
.restaurant-container .resto-detail .content-item p {
  font-size: 16px;
  line-height: 1.5;
}
.restaurant-container .resto-detail .content-item .card-review {
  box-shadow: 0px 0px 10px 0px goldenrod;
  padding: 10px;
  margin-top: 2%;
  border-radius: 5px;
  background-color: whitesmoke;
  color: #141414;
}
.restaurant-container .resto-detail .content-item .card-review h4 {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: large;
}
.restaurant-container .resto-detail .content-item .card-review em {
  font-size: small;
  margin-left: 2px;
  color: goldenrod;
  font-weight: bolder;
}
.restaurant-container .resto-detail .content-item .card-review p {
  margin-top: 1%;
}
.restaurant-container .resto-item {
  width: 100%;
  margin-bottom: 8%;
  background-color: #222222;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px gold;
}
.restaurant-container .resto-item .header-item label {
  position: absolute;
  margin-top: 2%;
  padding: 6px;
  color: #1b1b1b;
  font-weight: 700;
  background-color: gold;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.restaurant-container .resto-item .header-item img {
  width: 100%;
}
.restaurant-container .resto-item .content-item {
  padding: 20px;
}
.restaurant-container .resto-item .content-item h3 {
  padding-bottom: 10px;
}
.restaurant-container .resto-item .content-item strong {
  color: gold;
}
.restaurant-container .resto-item .content-item p {
  padding-top: 10px;
  line-height: 1.5;
  overflow: hidden;
  height: 180px;
  text-overflow: ellipsis;
}
.restaurant-container .resto-item .content-item button {
  padding: 8px;
  border-radius: 5px;
  background-color: goldenrod;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  min-width: 44px;
  min-height: 44px;
  border: none;
  margin-top: 8%;
  cursor: pointer;
}
.restaurant-container .resto-item .content-item button:hover {
  transform: scale(0.9);
  box-shadow: 0px 0px 10px 0px goldenrod;
}
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: goldenrod;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}
#footer {
  background-color: #1b1b1b;
  padding: 28px;
  color: white;
  text-align: center;
  font-size: 14px;
}

@media screen and (min-width: 425px) {
  #main .hero-image .hero-content {
    top: 28%;
    left: 50%;
    transform: translate(-50%, -38%);
  }
  #main .hero-image .hero-content h2 {
    font-weight: normal;
    margin-bottom: 1%;
    font-size: 20px;
  }
}

@media screen and (max-width: 580px) {
  #main #main-content hr {
    margin-top: 4%;
    margin-bottom: 6%;
  }
}

@media screen and (min-width: 580px) {
  #header .header-brand h1 {
    font-size: 38px;
  }
  #main .hero-image .hero-content {
    top: 36%;
    left: 50%;
    transform: translate(-50%, -38%);
  }
  #main .hero-image .hero-content h2 {
    font-weight: 600;
    margin-bottom: 1%;
    font-size: 30px;
  }
  #main .hero-image .hero-content p {
    display: block;
    line-height: 1.5;
  }
  #main #main-content .restaurant-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
  }
  .restaurant-container .resto-item {
    width: 48%;
  }
}

@media screen and (min-width: 780px) {
  #main .hero-image .hero-content {
    top: 44%;
    left: 50%;
    transform: translate(-50%, -38%);
  }
  #main .hero-image .hero-content h2 {
    font-weight: 600;
    margin-bottom: 2%;
    font-size: 34px;
  }
  #main .hero-image .hero-content p {
    font-size: large;
    line-height: 2;
  }
  #main #main-content h2 { font-size: 26px; }
  #footer {
    font-size: 16px;
  }
  .restaurant-container .resto-detail .content-item h3 {
    font-size: 38px;
  }
  .restaurant-container .resto-detail .content-item h4 {
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
  }
  #header.enable-sticky {
    padding: 10px 80px;
  }
  #header .header-brand h1 { font-size: 40px; }
  #header .header-brand button { display: none; }
  #header nav#navbar { display: block; }
  #header nav#navbar ul {
    flex-direction: row;
    gap: 40px;
  }
  #main .hero-image .hero-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
  #main #main-content .restaurant-container {
    justify-content: space-between;
  }
  .restaurant-container .resto-item {
    width: 30%;
  }
}